<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World !</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <table border="1" align="center">
        <tr>
            <th>Column A</th>
            <th>Column B</th>
            <th colspan="2">Aksi</th>
        </tr>
        <tr>
            <td>100</td>
            <td>Budi</td>
            <td><a href="edit.html">Edit</a></td>
            <td><a href="delete.html">Delete</a></td>
        </tr>
    </table>
    <a href="tambah.html">Tambah Data</a>
</body>
</html>