<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="">
        <label>Column A</label>
        <input type="number" name="col_a" id="col_a">
        <br><br>
        <label>Column B</label>
        <input type="text" name="col_b" id="col_b">
        <br><br>
        <input type="submit" name="submit">
    </form>
    <button><a href="index.html">Kembali</a></button>
</body>
</html>