<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World !</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {{ if .flasher.Type }}
    <div style="margin-top: 2rem; margin-bottom: 2rem; text-align: center;">
        <strong>{{ .flasher.Message }}</strong>
    </div>
    {{ end }}
    <table border="1" align="center">
        <tr>
            <th>ID</th>
            <th>Nama lengkap</th>
            <th>Umur</th>
            <th colspan="2">Aksi</th>
        </tr>

        {{ range .datas }}
        <!-- For loop -->
        <tr>
            <td>{{ .ID }}</td>
            <td>{{ .FullName }}</td>
            <td>{{ .Age }}</td>
            <td><a href="/edit?id={{ .ID }}">Edit</a></td>
            <td><a href="/delete?id={{ .ID }}">Delete</a></td>
        </tr>
        {{ end }}
    </table>

    <a href="/add">Tambah Data</a>
</body>
</html>